@charset "utf-8";
/* CSS Document */

.companytitle{ float:left;width:515px;background:#09c;height:22px;line-height:22px;margin-right:10px;padding:5px;border:1px solid #777;text-align:center;color:#fff;font-size:18px;font-weight:bold;font-family:Arial, Helvetica, sans-serif;text-shadow:1px 1px 1px #555; }
.aboutbox{ float:left;width:515px;height:120px;background:#f5f5f5;margin-top:10px;margin-right:10px;padding:5px;border:1px solid #bbb; }
.contactbox{ float:right;width:224px;height:168px;background:#f5f5f5;border:1px solid #bbb;padding:3px; }

.sectitle{ font-size:15px;font-weitht:bold;color:#444;width:100%;height:20px;border-bottom:1px solid #ddd;text-indent:10px; }

.newssec1{ float:left;width:378px;height:150px;background:#fff;margin-right:10px;border:1px solid #bbb; }
.newssec2{ float:left;width:378px;height:150px;background:#fff;border:1px solid #bbb; }
.sectitle2{ font-size:15px;font-family:Arial, Helvetica, sans-serif;color:#fff;background:#09c;width:372px;padding:3px;height:22px;border-bottom:1px solid #bbb;text-indent:5px; }
.newstitle{ width:368px;height:18px;padding:0px 2px;margin:3px;border-bottom:1px solid #ddd; }
.newscontent{ width:368px;height:73px;padding:0px 2px;margin:3px;border-bottom:1px solid #ddd;overflow:hidden; }

.contacttable{ font-size:10px; }
.contacttable td:first-child{ text-align:right; }
.contacttable td{ padding:2px;font-size:10px; }
.contacttable td+td{ color:#09F; }

.pdesc{ width:770px;height:120px;background:#fff; }
.pbottom{ width:100%;height:15px;color:#888; }
.pbottom a{ color:#39F;text-decoration:none; }
.pbottom a:hover{ text-decoration:underline; }

/*index*/
.companybox{ width:950px;height:106px;padding:5px;border-bottom:1px dotted #ccc;margin-top:5px; }
.companyinfo1box{ float:left;width:744px;height:100px;padding:3px;background:#fff; }
.companyinfo1box a{ font-size:11px;color:#900;text-decoration:none; }
.companyinfo1box a:hover{ text-decoration:underline; }
.companyinfotitle{ width:100%;height:15px;font-size:15px;font-family:Arial, Helvetica, sans-serif;font-weight:bold; }
.companyinfoabout{ width:100%;height:60px;font-size:12px;font-family:Arial, Helvetica, sans-serif;margin-top:10px;overflow:hidden; }
.companyinfo2box{ float:left;width:189px;height:100px;padding:3px;margin-left:5px;background:#fff; }
.companybox:hover{ background:#6CF; }
.companyinfotable td{ font-size:11px; }
.companyinfotable td+td{ color:#09F; }

.categorybox{ width:500px;height:35px;font-size:15px;background:#ddd;border:1px solid #ccc;margin-bottom:5px; }
.categorybox a{ line-height:15px;font-size:15px;padding:10px;color:#069;text-decoration:none;background:#ddd;display:block; }
.categorybox a:hover{ color:#900;text-decoration:underline;background:#fff; }

/*about*/
.aboutcontainer{ width:760px;min-height:300px;background:#fff;padding:5px;text-align:justify; }
.abouttitle{ width:100%;padding:3px;font-size:15px;border-bottom:1px solid #ccc; }

/*news*/
.newsbox{ float:left;width:490px;height:auto;background:#f5f5f5;border:1px solid #ccc;margin-right:10px;padding:5px; }
.newslist{ float:left;width:250px;height:auto;border:1px solid #ddd;padding:3px; }
.newslist ul li{ height:20px;text-indent:10px;margin:5px 0px; }
.newslist ul li a{ font-size:12px;padding:4px;display:block;color:#555;text-decoration:none; }
.newslist ul li a:hover{ text-decoration:underline;background:#eee; }

/*common*/
.companynav{ width:952px;height:13px;font-size:12px;padding:4px;margin:4px 0px 7px 0px;background:#f5f5f5; }
.companynav a{ font-size:12px;color:#555;text-decoration:none; }
.companynav a:hover{ text-decoration:underline; }
.dred{ color:#900; }
.linebreak{ width:100%;height:1px;background:#ddd; }
.clr{ clear:both; }
.font11{ font-size:11px;font-family:Arial, Helvetica, sans-serif; }
.settitle{ width:100%;font-size:13px;font-family:Arial, Helvetica, sans-serif;color:#666;border-bottom:1px solid #ccc; }
.companypage{ width:100%;font-size:10px;color:#777;padding:5px 0px; }
.companypage a{ font-size:10px;text-decoration:none;color:#933; }
.row a{ color:#900;font-size:11px;text-decoration:none; }
.row a:hover{ text-decoration:underline; }