@charset "utf-8";
/* CSS Document */
* { font-family:Arial, Helvetica, sans-serif; font-size:13px; line-height:1.5em;   } 

#header {
	float:left;
	width:100%;
	height:100px;

}
#header_left {
	float:left;
}
#header_right_control {
	height:59px;

}

#wrapper {
	float:left;
	width:100%;
	height:500px;

}

#footer {
	float:left;
	width:100%;
	height:100px;

} 

.error {
	background-color:#F9F;
}

.success{
	background-color:#6CF;
}